@import url('../section-title/section-title.css');
@import url('../section-subtitle/section-subtitle.css');
@import url('../cards/cards.css');

.technics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 100px auto 0;
}
